[submodule "neovim/pack/plugins/start/ale"]
	path = neovim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "neovim/pack/plugins/start/ctrlp.vim"]
	path = neovim/pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "neovim/pack/plugins/start/editorconfig-vim"]
	path = neovim/pack/plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "neovim/pack/plugins/start/vim-airline"]
	path = neovim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "neovim/pack/plugins/start/nord-vim"]
	path = neovim/pack/plugins/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "neovim/pack/plugins/start/vim-gitgutter"]
	path = neovim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "neovim/pack/plugins/start/vim-polyglot"]
	path = neovim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
